body {
  padding: 0;
  margin: 0;
  background-color: slategrey;
}

.head-container {
  padding:  0 0 30px 0;
  margin-bottom: 20px;
  background-color:slategrey;
}
h1 {
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  color:ghostwhite;
  font-family: 'Silkscreen', sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.side-bar {
  flex-basis: 20rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.button {
  width: 8rem;
}
.gridOutput {
  font-size: 20px;
  font-family: 'Silkscreen', sans-serif;
  color: #fff;
}
.container {
  flex-basis: 0;
  flex-grow: 999;
  padding: 30px;
}
.grid-container {
  margin-left: 60px;
  margin-bottom: 50px;
  width: 640px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.gridPiece {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.black {
  background-color: black;
}